<p>This web application can save you money on Uber rides by comparing the prices of calling an Uber from various locations around you.</p>
<br>
<p>For all of the poor people of the world living amongst the richest 1% of the world.</p>
<br>
<p>Made under 30 hours by Brian Lee and Ha Min Ko for a Horizons Hackathon</p>
<p>Source: <a href="https://github.com/HaMinKo/FareBuddy-Public">https://github.com/HaMinKo/FareBuddy-Public</a></p>
